#post-list{
    padding: 25px;
    margin: auto auto;
    width: 40%;
    background-color: #FFCC99;
    border-radius: 6px;
}

.post{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.post-body{
    padding: 25px;
}