#post-list{
    margin: 0 auto;
    padding: 15px 30px;
    width: 55%;
    font-size: 12px;
    background-color: #95826F;
}

.post{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #FFCC99;
    border-radius: 6px;
    margin-bottom: 6px;
}
.post:last-child{
    margin-bottom: 0;
}

.post-body{
    padding: 10px;
    border: 1px double black;
    border-radius: 6px;
}