#post-list{
    margin: 0 auto;
    padding: 15px 30px;
    width: 55%;
    font-size: 12px;
    background-color: #953023;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}

.post{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #FFCC99;
    border-radius: 6px;
    margin-bottom: 6px;
}
.post:last-child{
    margin-bottom: 0;
}

.post-body{
    padding: 4px 4px 4px 12px;
}

.page-jump{
    display: flex;
    flex-direction: row;
    margin: auto auto;
}
.page-jump>div{
    display: flex;
    flex-direction: row;
}
.page-jump>div>a{
    color: black;
    /*text-decoration: none;*/
}

footer{
    height: 40px;
    background-color: saddlebrown;
}